doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .all
      .header
        block header
        .topHeader
          a(href="/") Home
          a(href="/aboutMe") About me
        .middleHeader
          .middleHeaderLeft
            .logo
              a(href="/") JRG
          .middleHeaderMiddle
            .navigation
              h1 Welcome To My Site!
          .middleHeaderRight
            .search
              //input(type="text") Search
        .bottomHeader
      .content
        block content
          .left
            .myLinks
              h3 My Links
              ul
                li 
                  a(href="http://jackiergleason.com") My Old Drupal Site
                li
                  a(href="http://whatever.blogspot.com") My Tutorail Site
                li
                  a(href="http://github.com") My GitHub Account
                li
                  a(href="https://docs.google.com/document/edit?id=1MLnPZYdkDdITFDJNpPyn1kwjePum-M05qc5RfSYV6sI") My Resume
            block left
          .middle
            block middle
          .right
            block right
      .footer
        block footer 
