doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .all
      .header
        block header
      .content
        block content
          .left
            block left
          .middle
            block middle
          .right
            block right
      .footer
        block footer 
