body
  padding-left: 50px
  padding-right: 50px
  padding-top:0
  margin-top:0
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  background-color: black
  .all
    height: 100%
    padding: 10px
    background-color:white
    .header 
      width: 100%
      height: 100px
      h1
        width: 300 px
        margin-left: auto
        margin-right: auto
    .content
      height: 500px
      div
        padding 5px
      .left
        width: 200px
        float: left
      .middle
        float:left
      .right 
        width:100px
        float:right
    .footer
      height: 75px
a
  color: #00B7FF
